/*DEFAULT */

@media screen and (min-width: 744px) {
  h1 {
    font-size: 140px;
  }

  h2 {
    font-size: 120px;
  }

  h3 {
    font-size: 90px;
  }

  .container {
    max-width: 744px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .book-btn {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 160px;
  }

  h2 {
    font-size: 150px;
  }

  h3 {
    font-size: 110px;
  }

  .container {
    max-width: 1440px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* HEADER  */

@media screen and (min-width: 744px) {
  .header {
    right: 50px;
  }
  .menu-btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
}

/* MAIN SECTION */

@media screen and (min-width: 744px) {
  .main-img {
    max-width: 268px;
    max-height: 250px;
  }

  .main-heading {
    max-width: 510px;
  }

  .main-description {
    font-size: 24px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1440px) {
}

/* ABOUT */

@media screen and (min-width: 744px) {
  .about-decorative-text {
    font-size: 50px;
  }

  .about-description {
    font-size: 18px;
  }

  .about-img {
    min-width: 230px;
    min-height: 230px;
  }

  .about-section {
    gap: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .about-description {
    max-width: 686px;
    margin: auto;
  }
}

/* PORTFOLIO */

@media screen and (min-width: 744px) {
  .works-items {
    gap: 10px;
  }

  .portfolio-img {
    width: auto;
    max-height: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .portfolio-description {
    font-size: 18px;
    max-width: 1000px;
    margin-right: 700px;
  }
}

@media screen and (min-width: 1440px) {
}

/* TEAM */

@media screen and (min-width: 744px) {
}

@media screen and (min-width: 1440px) {
  .slider-container {
    justify-content: space-between;
  }
}

/* REVIEWS */

@media screen and (min-width: 744px) {
  .reviews-images-area {
    gap: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-images-area {
    gap: 130px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* CONTACTS */

@media screen and (min-width: 744px) {
  .contacts-images-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .contacts-img {
    width: 300px;
    height: 300px;
  }

  .contacts-description {
    max-width: 600px;
  }
}

@media screen and (min-width: 1440px) {
}

/* FOOTER */

@media screen and (min-width: 744px) {
}

@media screen and (min-width: 1440px) {
}

/* MODAL */

@media screen and (min-width: 744px) {
}

@media screen and (min-width: 1440px) {
}
