:root {
  --color-white: #ffffff; /* Белый */
  --color-dark: #353535; /* Темно-серый */
  --color-red: #b64b4b; /* Красный */
  --color-gray: #c2c2c2; /* Серый */
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  background-color: var(--color-white);
}

a,
p,
section,
button,
img,
h1,
h2 {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  color: var(--color-dark);
  line-height: 100%;
  margin-top: 120px;
  margin-bottom: 0;
}

h2 {
  font-size: 60px;
  font-weight: 900;
  color: var(--color-dark);
  line-height: 100%;
}

h3 {
  font-size: 60px;
  font-weight: 900;
  color: var(--color-dark);
  line-height: 100%;
}

.red {
  color: var(--color-red);
}

/* mobile container */
.container {
  max-width: 375px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* separator */
.separate-items {
  padding-top: 10px;
  position: relative;
  display: flex;
  border-top: 1px solid var(--color-gray);
}

.separate-heading {
  font-size: 18px;
  color: var(--color-gray);
}

/* ============= */
/* HEADER MOBILE */

.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 30px;
}

.menu-line {
  height: 1px;
  width: 25px;
  background-color: var(--color-dark);
}

.menu-btn-area {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.menu-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-dark);
}

/* ============= */
/* MAIN SECTION MOBILE */

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40vh;
  padding-bottom: 50px;
}

.main-img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 268px;
  max-height: 250px;
  object-fit: contain;
}

.main-heading {
  display: flex;
  flex-direction: column;
}

.main-description {
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
  color: var(--color-dark);
}

.book-btn {
  display: inline-block;
  position: relative;
  margin: auto;
  background-color: transparent;
  color: var(--color-red);
  border: none;
  border-bottom: 1px solid var(--color-red);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 15px;
}

/* ============= */
/* ABOUT SECTION MOBILE */

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  gap: 40px;
}

.about-section .separate-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-img {
  /* position: absolute;
  top: 15px;
  right: 0; */
  max-width: 180px;
  max-height: 180px;
}

.about-decorative {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 180px; */
}

.about-decorative-text {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}

.about-decorative-img {
  max-width: 120px;
  max-height: 140px;
  margin-top: 30px;
}

.about-description {
  font-size: 14px;
  text-align: center;
  color: var(--color-dark);
}

/* ============= */
/* PORTFOLIO SECTION MOBILE */

.portfolio-section {
  padding-top: 100px;
}

.works-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.portfolio-img {
  flex-grow: 1;
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-top: 5px;
  margin-bottom: 5px;
}

.portfolio-description-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.portfolio-description-area .book-btn {
  margin: 0;
}

.portfolio-description {
  font-size: 14px;
  color: var(--color-dark);
}

/* ============= */
/* TEAM SECTION MOBILE */

.team-section {
  padding-top: 100px;
}

.slider-container {
  display: flex;
  margin-top: 50px;
  overflow: hidden;
}

.slider-item {
  display: flex;
  transition: transform 0.3s ease;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.slide-img {
}

.artist-heading {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-dark);
}

.social-media-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.slide-social-media-item {
  font-size: 14px;
  color: var(--color-gray);
}

/* ============= */
/* REVIEWS SECTION MOBILE */

.reviews-section {
  margin-top: 100px;
}

.reviews-heading-area {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.reviews-decorative-text {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color: var(--color-red);
}

.reviews-images-area {
  display: flex;
  flex-direction: row;
  /* mobile nowrap */
  flex-wrap: nowrap;
  align-items: center;
  gap: 40px;
  overflow: hidden;
}

.review-img {
}

/* ============= */
/* CONTACTS SECTION MOBILE */

.contacts-section {
  margin-top: 100px;
}

.contacts-heading {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contacts-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.contacts-item {
  font-size: 30px;
  color: var(--color-gray);
}

.contacts-descritption-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 50px;
}

.contacts-descritption-area .book-btn {
  margin: 0;
}

.contacts-description {
  font-size: 14px;
  color: var(--color-dark);
}

.social-media-area {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.social-media-item {
  cursor: pointer;
}

.contacts-images-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contacts-img {
  flex-grow: 1;
  width: 100%;
  height: 222px;
  object-fit: cover;
}

/* ============= */
/* FOOTER MOBILE */

.footer {
  margin-top: 100px;
  margin-bottom: 100px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 10px;
}
.footer-decorative-text {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color: var(--color-red);
}
.footer-rights {
  font-size: 18px;
  color: var(--color-gray);
}

/* ============= */
/* MODAL */

.menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  padding: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.close-menu {
  cursor: pointer;
}

.close-menu-icon {
  position: absolute;
  right: 30;
}

.menu-links-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.menu-link {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-dark);
}

.menu .contacts-area {
  gap: 10px;
  margin-bottom: 0;
  align-items: center;
}

.menu .contacts-item {
  font-size: 26px;
}
